@charset "utf-8";

/* 드래그 색상 */
::selection {
  background: #fff;
  color: #111;
}

body {
  font-family: 'pretendard';
  background-color: #111;
  color: #fff;
}

/****** header mobile ******/
header {
  z-index: 999;
  height: 60px;
  width: 100%;
  background-color: #111;
  position: fixed;
  top: 0;
}

header .header-nav {
  padding: 0px 20px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* header logo */
header .header-nav .logo a {
  cursor: pointer;
}

header .header-nav .logo a img {
  height: 25px;
}

/* pc menu */
header .header-nav .pc-main-menu {
  display: none;
}

header .header-nav .pc-sub-menu {
  display: none;
}

/* mobile hamburger menu */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 1000;
}

.hamburger-menu .line {
  width: 25px;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease;
}

/* mobile hamburger menu -> X icon */
.menu.active {
  display: block;
  transition: 0.5s;
}

.hamburger-menu.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* mobile menu */
.m-menu {
  position: fixed;
  top: 0;
  left: -105%;
  width: 100vw;
  height: 100vh;
  background-color: #111;
  transition: left 0.3s ease-in-out;
  z-index: 999;
}

.m-menu.active {
  left: 0;
}

header .m-menu .main-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 85px;
  align-items: center;
  justify-content: center;
}

header .m-menu .main-menu li a {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Roboto Flex';
  text-align: center;
  text-transform: uppercase;
}

header .m-menu .sub-menu {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  position: absolute;
  bottom: 50px;
}

header .m-menu .sub-menu li a {
  font-size: 22px;
  font-weight: 400;
  font-family: 'Roboto Flex';
  text-align: center;
}

header .m-menu .sub-menu li a img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

/****** footer mobile ******/
footer {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  animation: bounce 1.5s ease-in-out infinite;
}

footer a img {
  height: 23px;
}

@keyframes bounce {
  0% {
    transform: translateY(5%);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(5%);
  }
}



/****** PC ******/
@media (min-width: 1200px) {

  /****** header PC ******/
  header .header-nav {
    width: 100%;
    padding: 0px 80px;
    align-items: center;
    justify-content: space-between;
  }

  /* header logo */
  header .header-nav .logo {}

  /* pc menu */
  header .header-nav {
    display: flex;
  }

  /* pc main menu */
  header .header-nav .pc-main-menu {
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .pc-main-menu>li {
    width: 100px;
    height: 30px;
    perspective: 800px;
  }

  header .header-nav .pc-main-menu>li>a {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    font-family: 'Roboto Flex';
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .pc-main-menu .cube-menu {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.4s ease;
  }

  .pc-main-menu>li:hover .cube-menu {
    transform: rotateX(90deg);
  }

  .pc-main-menu .cube-face {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    backface-visibility: hidden;
  }

  .pc-main-menu .cube-front {
    transform: translateZ(30px);
  }

  .pc-main-menu .cube-top {
    transform: rotateX(-90deg) translateZ(30px);
  }

  /* pc sub menu */
  header .header-nav .pc-sub-menu {
    display: flex;
    gap: 15px;
  }

  header .header-nav>.pc-sub-menu>li a {
    text-align: center;
    font-family: 'Roboto Flex';
    text-wrap: nowrap;
    position: relative;
  }

  header .header-nav .pc-sub-menu>li>a>span {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
  }

  header .header-nav .pc-sub-menu li a img {
    height: 21px;
    margin-right: 8px;
  }

  /* mobile hamburger menu */
  .hamburger-menu {
    display: none;
  }

  /* mobile menu */
  .m-menu {
    display: none;
  }

  /****** footer PC ******/
  footer {
    width: 45px;
    height: 45px;
    bottom: 20px;
    right: 75px;
  }

  footer a {
    width: 45px;
    height: 45px;
    border-radius: 100px;
  }

  footer a img {
    height: 20px;
  }

}