@charset "utf-8";

main {
  height: auto;
  max-height: none;
  overflow-x: hidden;
  overflow-y: hidden !important;
}

/****** title 색상 ******/
.fill {
  position: relative;
  display: inline-block;
  -webkit-text-fill-color: #1a1a1a;
  /* 기본 색상 */
  color: transparent;
  overflow: hidden;
}

.fill::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  -webkit-text-fill-color: #fff;
  /* 채워질 색상 */
  white-space: nowrap;
  overflow: hidden;
  transition: width 1.5s ease;
  /* 부드럽게 채워짐 */
}

.fill.active::before {
  width: 100%;
}

/****** main video section ******/
.main-video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main-video .video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.main-video .video-wrapper iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 177.77vh;
  height: 100vh;
  transform: translate(-50%, -50%);
  object-fit: cover;
  pointer-events: none;
  border: none;
}

.main-video .video-txt {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-video .video-txt .main-title {
  width: 260px;
  font-size: 55px;
  font-weight: 400;
  font-family: 'Roboto Flex';
  margin-bottom: 30px;
  overflow-wrap: break-word;
}

.main-video .video-txt img {
  height: 70px;
  position: absolute;
  right: 30px;
  bottom: 40px;
}

/* 화살표 애니메이션 */
.arrow {
  animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(15%);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(15%);
  }
}

.main-video .video-txt h6 {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Pretendard';
  line-height: 24px;
  width: 250px;
}

/****** who am i ******/
.whoami {
  width: 100%;
  height: 300vh;
  position: relative;
}

.whoami .whoami-txt {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.whoami-txt.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.whoami .whoami-txt .contents-title {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Roboto Flex';
  margin-bottom: 20px;
}

.whoami .whoami-txt p {
  width: 75%;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.whoami .whoami-txt p:last-of-type {
  margin-top: 15px;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

::before {
  position: absolute;
  content: "";
}

.whoami .whoami-txt .viewmore-btn {
  margin-top: 20px;
  position: relative;
  display: inline-block;
}

.viewmore-btn span {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 110px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto Flex';
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  transition: 0.5s;
}

.viewmore-btn::before {
  background-color: #fff;
  transition: 0.3s ease-out;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
  border-radius: 15px;
}

.viewmore-btn:hover::before {
  width: 100%;
}

.viewmore-btn span:hover {
  color: #111;
  font-weight: 300;
  transition: 0.2s 0.1s;
}

.photo-dump-wrapper {
  width: 100%;
  height: 300vh;
  position: absolute;
  top: 130vh;
  z-index: -99;
}

.photo-dump {
  width: 100%;
  height: 100%;
  position: relative;
}

.photo-dump li {
  position: absolute;
}

.photo-dump li img {
  width: 100%;
  border-radius: 15px;
}

.photo-dump-wrapper li:nth-of-type(1) {
  width: 45%;
  top: 0%;
  left: 12%;
}

.photo-dump-wrapper li:nth-of-type(2) {
  width: 30%;
  top: 15%;
  right: 7%;
}

.photo-dump-wrapper li:nth-of-type(3) {
  width: 40%;
  top: 32%;
  left: 6%;
}

.photo-dump-wrapper li:nth-of-type(4) {
  width: 55%;
  top: 45%;
  right: 8%;
}

.photo-dump-wrapper li:nth-of-type(5) {
  width: 35%;
  top: 65%;
  left: 13%;
}

.photo-dump-wrapper li:nth-of-type(6) {
  width: 27%;
  top: 73%;
  right: 6%;
}

/****** works ******/
.works {
  padding: 60px 20px;
}

.works .contents-title {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Roboto Flex';
  margin-bottom: 35px;
  text-align: center;
}

.works .works-menu-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;
  cursor: grab;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.works .works-menu-wrapper.dragging {
  cursor: grabbing;
}

.works .works-menu-wrapper::-webkit-scrollbar {
  display: none;
}

.works .works-menu {
  width: 360px;
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.works .works-menu li {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  font-family: 'Roboto Flex';
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 20px;
  text-wrap: nowrap;
  cursor: pointer;
  transition: 0.5s;
}

.works .works-contents {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

.works .works-contents li {
  width: 100%;
  height: 250px;
  position: relative;
}

.works .works-contents .alchera {}

.works .works-contents .museum {}

.works .works-contents .benNjerrys {}

.works .works-contents .lilybyred img {
  object-position: 0% 50%;
}

.works .works-contents .hautmeal {}

.works .works-contents .works-txt {
  width: 100%;
  height: 250px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 9;
  padding: 13px 17px;
  color: #fff;
}

.works .works-contents .works-txt h4 {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Roboto Flex';
}

.works .works-contents .works-txt p {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto Flex';
}

.works .works-contents li img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}

.works .works-contents .basic-img {}

.works .works-contents .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/****** flow-txt ******/
.flow-txt {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.flow-txt .flow-txt-wrapper {
  display: inline-flex;
  gap: 15px;
  animation: flow 20s linear infinite;
}

.flow-txt .flow-txt-wrapper h5 {
  font-family: 'Roboto Flex';
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  white-space: nowrap;
}

@keyframes flow {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

/****** skills&tools ******/
.skillsNtools {
  padding: 50px 20px;
}

.skillsNtools {}

.skillsNtools .contents-title {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Roboto Flex';
  margin-bottom: 35px;
  text-align: center;
}

.skillsNtools ul {}

.skillsNtools>ul>li {
  width: 100%;
  height: 100%;
  border-top: 1px solid #fff;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.skillsNtools>ul>li:last-child {
  border-bottom: 1px solid #fff;
}

.skills-txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills-txt h5 {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Roboto Flex';
}

.skills-txt ul {
  /* display: none; */
}

.skills-txt>ul>li {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-left: 20px;
  position: relative;
}

.skills-txt ul li:after {
  content: "";
  position: absolute;
  left: -15px;
  top: 17px;
  transform: translateY(-230%);
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #fff;
  box-sizing: border-box;
}

.skillsNtools ul li .close-btn {
  transform: rotate(45deg);
  width: 16px;
  height: 16px;
  margin-top: 5px;
  display: none;
}

.tools-txt ul li {
  margin-left: 0;
  margin-bottom: 20px;
}

.tools-txt ul li:after {
  width: 0;
}

.tools-txt ul .program-wrapper {
  display: flex;
  gap: 10px;
}

.program {}

.program img {
  height: 23px;
}

.program img:after {}

.program p {
  display: none;
}

/****** contact ******/
.contact {
  width: 100%;
  height: 100vh;
  padding: 0px 20px;
  position: relative;
}

.contact .contact-txt {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .contact-txt h4 {
  font-size: 25px;
  font-weight: 400;
  font-family: 'Roboto Flex';
  margin-bottom: 25px;
  text-transform: uppercase;
}

.contact .contact-txt h3 {
  font-size: 45px;
  font-weight: 600;
  font-family: 'Roboto Flex';
  margin-bottom: 20px;
  text-transform: uppercase;
  font-style: italic;
}

.contact .contact-txt p {
  font-size: 14px;
  font-weight: 300;
}

.contact .contact-txt p br {}

.contact .contact-menu {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.contact .contact-menu ul {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}

.contact .contact-menu ul li {}

.contact .contact-menu ul li .link-btn {}


.link-btn {
  position: relative;
  display: inline-block;
}

.link-btn span {
  position: relative;
  top: 0;
  left: 0;
  padding: 7px 20px;
  display: block;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto Flex';
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  transition: 0.5s;
}

.link-btn::before {
  background-color: #fff;
  transition: 0.3s ease-out;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
  border-radius: 15px;
}

.link-btn:hover::before {
  width: 100%;
}

.link-btn span:hover {
  color: #111;
  font-weight: 300;
  transition: 0.2s 0.1s;
}

.contact .contact-menu p {
  font-size: 9px;
  font-weight: 300;
  font-family: 'Roboto Flex';
  margin-left: 3px;
}