@charset "utf-8";

@media (min-width: 1200px) {

  /****** main video section ******/
  .main-video {
    width: 100vw;
    height: 100vh;
  }

  .main-video .video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 120vw;
    height: 120vh;
    overflow: hidden;
    z-index: -1;
  }

  .main-video .video-wrapper iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 120%;
    min-height: 120%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border: none;
  }

  .main-video .video-txt {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    padding: 50px 80px;
  }

  .main-video .video-txt .main-title {
    width: auto;
    font-size: 65px;
    margin-bottom: 0px;
    line-height: 100px;
    text-align: center;
  }

  .main-video .video-txt .main-title span {
    font-size: 140px;
  }

  .main-video .video-txt img {
    height: 70px;
    right: 420px;
    bottom: 70px;
  }

  .main-video .video-txt h6 {
    font-size: 18px;
    line-height: 24px;
    width: 320px;
    margin-bottom: 15px;
  }

  /****** who am i ******/
  .whoami {
    width: 100%;
    height: 300vh;
  }

  .whoami .whoami-txt .contents-title {
    font-size: 50px;
    margin-bottom: 35px;
  }

  .whoami .whoami-txt p {
    width: 100%;
    font-size: 17px;
    line-height: 25px;
  }

  .whoami .whoami-txt p:last-of-type {
    margin-top: 0px;
  }

  .whoami .whoami-txt .viewmore-btn {
    margin-top: 50px;
  }

  .viewmore-btn span {
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    font-size: 15px;
  }

  .viewmore-btn::before {
    border-radius: 20px;
  }

  .photo-dump-wrapper {
    height: 300vh;
  }

  .photo-dump {}

  .whoami .photo-dump li {}

  .photo-dump li:nth-of-type(1) {
    width: 40%;
    top: 0%;
    left: 10%;
  }

  .photo-dump-wrapper li:nth-of-type(2) {
    width: 30%;
    top: 15%;
    right: 7%;
  }

  .photo-dump-wrapper li:nth-of-type(3) {
    width: 35%;
    top: 30%;
    left: 10%;
  }

  .photo-dump-wrapper li:nth-of-type(4) {
    width: 30%;
    top: 55%;
    right: 15%;
  }

  .photo-dump-wrapper li:nth-of-type(5) {
    width: 22%;
    top: 70%;
    left: 13%;
  }

  .photo-dump-wrapper li:nth-of-type(6) {
    width: 17%;
    top: 85%;
    right: 20%;
  }


  /****** works ******/
  .works {
    width: 100%;
    padding: 120px 80px;
  }

  .works .contents-title {
    font-size: 55px;
    margin-bottom: 45px;
  }

  .works .works-menu {
    margin-bottom: 30px;
  }

  .works .works-menu li {
    font-size: 15px;
    padding: 10px 25px;
  }

  .works .works-contents {
    width: calc(100% - 25px);
    display: grid;
    /* grid-template-rows: 380px 190px 190px; */
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-columns: 55% 45%;
    gap: 25px;
    position: relative;
  }

  .works .works-contents li {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
  }

  .works .works-contents .alchera {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .works .works-contents .museum {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .works .works-contents .benNjerrys {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
  }

  .works .works-contents .lilybyred {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .works .works-contents .hautmeal {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  .works .works-contents .works-txt {
    width: 100%;
    height: auto;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 9;
    padding: 0px;
    color: #111;
    opacity: 0;
  }

  .works .works-contents li img {
    width: 100%;
    height: 100%;
  }

  .works .works-contents .basic-img {}

  .works .works-contents .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
  }

  .works .works-contents li:hover .hover-img {
    opacity: 1;
  }

  .works .works-contents li:hover .works-txt {
    opacity: 1;
  }

  /****** skills&tools ******/
  .skillsNtools {
    padding: 120px 80px;
  }

  .skillsNtools {}

  .skillsNtools .contents-title {
    font-size: 55px;
    margin-bottom: 100px;
    text-align: center;
  }

  .skillsNtools ul {}

  .skillsNtools>ul>li {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .skillsNtools>ul>li:hover .close-btn {
    transform: rotate(270deg);
  }

  .skills-txt {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .skills-txt ul {
    display: none;
  }

  .skills-txt>ul>li {
    line-height: 25px;
    font-size: 16px;
    margin-left: 35px;
  }

  .skills-txt ul li:after {
    left: -20px;
    top: 20px;
  }

  .skillsNtools ul li .close-btn {
    transform: rotate(45deg);
    width: 16px;
    height: 16px;
    margin-top: 5px;
    display: block;
    transition: 0.3s;
  }

  .tools-txt ul {
    margin-left: 15px;
  }

  .tools-txt ul li {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .tools-txt ul li:after {
    width: 0;
  }

  .tools-txt ul .program-wrapper {
    margin: 0;
    display: flex;
    gap: 25px;
  }

  .program {
    display: flex;
    gap: 7px;
  }

  .program img {
    height: 25px;
  }

  .program img:after {}

  .program p {
    display: block;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto Flex';
  }


  /****** contact ******/
  .contact {
    width: 100%;
    padding: 0px 80px;
  }

  .contact .contact-txt h4 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .contact .contact-txt h3 {
    font-size: 60px;
    width: 650px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
  }

  .contact .contact-txt h3::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s ease;
  }

  .contact .contact-txt h3:hover::before {
    width: 100%;
  }

  .contact .contact-txt h3 br {
    display: none;
  }

  .contact .contact-txt p {
    font-size: 16px;
    line-height: 20px;
  }

  .contact .contact-menu {
    width: calc(100% - 160px);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    bottom: 35px;
    left: 80px;
  }

  .contact .contact-menu ul {
    display: flex;
    gap: 10px;
    margin-bottom: 0px;
  }

  .link-btn {
    position: relative;
    display: inline-block;
  }

  .link-btn span {
    position: relative;
    top: 0;
    left: 0;
    padding: 8px 25px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Flex';
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: 0.5s;
  }

  .link-btn::before {
    background-color: #fff;
    transition: 0.3s ease-out;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0%;
    border-radius: 30px;
  }

  .link-btn:hover::before {
    width: 100%;
  }

  .link-btn span:hover {
    color: #111;
    font-weight: 300;
    transition: 0.2s 0.1s;
  }

  .contact .contact-menu p {
    line-height: 0px;
    font-size: 12px;
    margin-left: 0px;
    margin-right: 70px;
  }

}