@charset "utf-8";

main {}

/****** main video section ******/
.main-video {
  height: 100vh;
  width: 100vw;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-video .main-title {
  width: 260px;
  font-size: 55px;
  font-weight: 400;
  font-family: 'Roboto Flex';
  margin-bottom: 30px;
  overflow-wrap: break-word;
}

.main-video img {
  height: 70px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.main-video h6 {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Pretendard';
  line-height: 24px;
  width: 250px;
}

/****** who am i ******/
.whoami {
  width: 100vw;
  height: 250vh;
  padding: 20px;
  position: relative;
}

.whoami .whoami-txt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.whoami .whoami-txt .contents-title {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Roboto Flex';
  margin-bottom: 20px;
}

.whoami .whoami-txt p {
  width: 75%;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}

.whoami .whoami-txt p:last-of-type {
  margin-top: 15px;
}

.whoami .whoami-txt .viewmore-btn {
  margin-top: 20px;
  width: 110px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #fff;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto Flex';
}

.whoami .photo-dump {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: -99;
}

.whoami .photo-dump li {}

.whoami .photo-dump li img {
  width: 100%;
  border-radius: 15px;
}

.whoami .photo-dump li:nth-of-type(1) {
  width: 230px;
}

.whoami .photo-dump li:nth-of-type(2) {
  width: 200px;
}

.whoami .photo-dump li:nth-of-type(3) {
  width: 300px;
}

.whoami .photo-dump li:nth-of-type(4) {
  width: 230px;
}

.whoami .photo-dump li:nth-of-type(5) {
  width: 200px;
}

.whoami .photo-dump li:nth-of-type(6) {
  width: 300px;
}

/****** works ******/
.works {
  padding: 60px 20px;
}

.works .contents-title {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Roboto Flex';
  text-align: center;
  margin-bottom: 35px;
}

.works .works-menu {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.works .works-menu li {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  font-family: 'Roboto Flex';
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 20px;
  text-wrap: nowrap;
}

.works .works-contents {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

.works .works-contents li {
  width: 100%;
  height: 250px;
  position: relative;
}

.works .works-contents .alchera {}

.works .works-contents .museum {}

.works .works-contents .benNjerrys {}

.works .works-contents .lilybyred img {
  object-position: 0% 50%;
}

.works .works-contents .hautmeal {}

.works .works-contents .works-txt {
  width: 100%;
  height: 250px;
  position: absolute;
  display: block;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 9;
  padding: 13px 17px;
  color: #fff;
}

.works .works-contents .works-txt h4 {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Roboto Flex';
}

.works .works-contents .works-txt p {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto Flex';
}

.works .works-contents li img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}

.works .works-contents .basic-img {}

.works .works-contents .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/****** flow-txt ******/
.flow-txt {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.flow-txt .flow-txt-wrapper {
  display: inline-flex;
  gap: 15px;
  animation: flow 20s linear infinite;
}

.flow-txt .flow-txt-wrapper h5 {
  font-family: 'Roboto Flex';
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  white-space: nowrap;
}

@keyframes flow {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

/****** skills&tools ******/
.skillsNtools {
  padding: 50px 20px;
}

.skillsNtools {}

.skillsNtools .contents-title {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Roboto Flex';
  margin-bottom: 35px;
  text-align: center;
}

.skillsNtools ul {}

.skillsNtools>ul>li {
  width: 100%;
  height: 100%;
  border-top: 1px solid #fff;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  cursor: pointer;
}

.skillsNtools>ul>li:last-child {
  border-bottom: 1px solid #fff;
}

.skills-txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills-txt h5 {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Roboto Flex';
}

.skills-txt ul {
  /* display: none; */
}

.skills-txt>ul>li {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-left: 20px;
  position: relative;
}

.skills-txt ul li:after {
  content: "";
  position: absolute;
  left: -15px;
  top: 17px;
  transform: translateY(-230%);
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #fff;
  box-sizing: border-box;
}

.skillsNtools ul li .close-btn {
  transform: rotate(45deg);
  width: 16px;
  height: 16px;
  margin-top: 5px;
  display: none;
}

.tools-txt ul li {
  margin-left: 0;
  margin-bottom: 20px;
}

.tools-txt ul li:after {
  width: 0;
}

.tools-txt ul .program-wrapper {
  display: flex;
  gap: 10px;
}

.program {}

.program img {
  height: 23px;
}

.program img:after {}

.program p {
  display: none;
}

/****** contact ******/
.contact {
  width: 100vw;
  height: 100vh;
  padding: 0px 20px;
  position: relative;
}

.contact .contact-txt {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .contact-txt h4 {
  font-size: 25px;
  font-weight: 400;
  font-family: 'Roboto Flex';
  margin-bottom: 25px;
  text-transform: uppercase;
}

.contact .contact-txt h3 {
  font-size: 45px;
  font-weight: 600;
  font-family: 'Roboto Flex';
  margin-bottom: 20px;
  text-transform: uppercase;
  font-style: italic;
}

.contact .contact-txt p {
  font-size: 14px;
  font-weight: 300;
}

.contact .contact-txt p br {}

.contact .contact-menu {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.contact .contact-menu ul {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}

.contact .contact-menu ul li {}

.contact .contact-menu ul li a {
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 5px 10px;
}

.contact .contact-menu p {
  font-size: 9px;
  font-weight: 300;
  font-family: 'Roboto Flex';
  margin-left: 3px;
}