@charset "utf-8";

/* main */
.project-txt span {
  color: #FF8EB7;
}

/* process */
.process dl:after {
  content: "";
  position: absolute;
  left: -20px;
  top: 3px;
  width: 1px;
  height: 185%;
  background: #fff;
}

.process dl:last-child:after {
  height: 80%;
}

/* result */
.result p span {
  color: #FF8EB7;
  font-weight: 500;
}

/* link */
.link img {
  object-position: 50% 100%;
}