@charset "utf-8";

/* main */
.works-main .project-txt br {
  display: none;
}

/* goals */
.goals img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
}

/* design - color */
.design .color li:nth-child(1) h6 {
  background-color: #000;
  border: 1px solid #fff;
}

.design .color li:nth-child(2) h6 {
  background-color: #333;
  border: 1px solid #fff;
}

.design .color li:nth-child(3) h6 {
  background-color: #ddd;
}

.design .color li:nth-child(4) h6 {
  background-color: #fff;
}

.design-box:nth-child(2)>p {
  font-weight: 300;
  font-size: 14px;
}

/* design - typography */
.design-box:nth-child(3)>p {
  font-weight: 300;
  font-size: 14px;
  margin-top: 15px;
}

/* design - weight */
.design .weight li:nth-child(1) {
  font-weight: 400;
}

.design .weight li:nth-child(2) {
  font-weight: 500;
}

.design .weight li:nth-child(3) {
  font-weight: 600;
}

/* problems&solutions */
.ps-con:nth-of-type(1) ul li p {
  margin-bottom: 10px;
}

.ps-con:nth-of-type(1) ul li img {
  width: 100%;
  border-radius: 15px;
  object-fit: contain;
  margin-bottom: 10px;
}

.ps-con:nth-of-type(3) p:nth-of-type(2):after {
  content: none !important;
  display: none !important;
}

.ps-con:nth-of-type(3) p {
  margin-bottom: 10px;
}

.ps-con:nth-of-type(3) img {
  width: 100%;
  border-radius: 15px;
  object-fit: contain;
  margin-bottom: 10px;
}

.ps-con:nth-of-type(4) ul {
  margin-left: 10px;
}

.ps-con:nth-of-type(4) ul li {
  margin-bottom: 10px;
}

.ps-con:nth-of-type(4) ul li h6 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}

.ps-con:nth-of-type(4) img {
  width: 100%;
  border-radius: 15px;
  object-fit: contain;
  margin-bottom: 10px;
  border: 1px solid #fff;
}

.ps-con:nth-of-type(5) {
  margin-bottom: 0px;
}

/* result */
.result p span {
  color: #FFF7D8;
  font-weight: 500;
}